* {
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  /* margin: 30px 100px; */
  width: 90%;
  /* width: 700px; */
  margin: 10px auto;
  padding: 10px 20px;
  box-shadow: 0px 0px 20px 3px #6d758d;
  border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>div a {
  margin-right: 25px;
  cursor: pointer;
  text-decoration: none;
  color: hsl(228, 7%, 14%);
}

h2 {
  margin: 0;
}

nav>div h2:hover {
  color: hsl(0deg 100% 78.07%);
}

header {
  margin: 0px 95px;
  width: 80%;
  position: relative;
}


header nav .sec {
  border-radius: 10px;
}

header .sec:hover {
  box-shadow: 0px 0px 5px 2px #6d758d;
}


input {
  padding: 10px;
  width: 69%;
  outline: none;
  border: 0;
  font-weight: 500;
  font-size: 1.0rem;
  background-color: transparent;
}

button {
  padding: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.0rem;
}

.list {
  width: 35%;
  /* height: 100%; */
  /* overflow-y: scroll; */
  background-color: rgb(68, 185, 248);
  position: absolute;
  left: 65%;
  z-index: 1;
  border-radius: 5px;
}

.list_items {
  width: 99%;
  height: 25px;
  padding: 2px;
}

.list_items:hover {
  background-color: black;
  color: whitesmoke;
}

.items {
  margin: 0;
}

.img-container {
  position: relative;
  border: 2px solid;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

#name {
  text-align: left;
}

.image {
  width: 250px;
  height: 290px;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.comic,
.more-details {
  font-size: 1.1rem;
  color: white;
  background-color: hsl(240, 39%, 47%);
  padding: 5px 7px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.comic:hover,
.more-details:hover {
  background-color: hsl(240, 30%, 47%);
}


a #name {
  font-size: 1.2rem;
}

button.fav,
button.unFav {
  margin-top: 10px;
  font-size: 1.1rem;
  color: white;
  background-color: hsl(240, 39%, 47%);
  padding: 5px 7px;
  border-radius: 5px;
}

button.fav:hover,
button.unFav:hover {
  background-color: hsl(240, 20%, 50%);
}

.show {
  margin-top: 30px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-items {
  padding: 0px;
  text-align: left;
  font-size: 1.1rem;
}


#name>p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}